{% extends 'blog/base.html' %}
{% load mytags humanize %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>شماره سفارش</th>
            <th>تاریخ سفارش</th>
            <th>وضعیت</th>
            <th>کالاها</th>
        </tr>
        </thead>
        {% for order in object_list %}
            <tr>
                <td>{{ order.pk }}</td>
                {# Method 1 #}
                {#                <td>{{ order.created_on.time }}</td>#}
                {#                <td>{{ order.created_on.date }}</td>#}
                {# Method 2 #}
                {#                <td>{{ order.get_formatted_date }}</td>#}
                {# Method 3 #}
                {#                <td>{{ order.formatted_date }}</td>#}
                {# Method 4: Template tag #}
                <td>{{ order.created_on|jdate:"%Y-%m-%d %H:%M" }}</td>
                {# Method 5: Humanize #}
                {#                <td>{{ order.created_on|naturaltime }}</td>#}
                <td>{{ order.get_status_display }}</td>
                <td>
                    {% for item in order.orderitem_set.all %}
                        <p style="direction: rtl;">
                            {{ forloop.counter }}- {{ item.product }} ❎ {{ item.qty }}
                        </p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'blog/pagination.html' %}
{% endblock %}