{% extends 'blog/base.html' %}
{% block page_header_title %}
    نمایش همه پست ها
{% endblock %}
{% block content %}
    {% for post in my_posts %}
        {# One single post #}
        <div class="col-md-4">
            {% if post.intro_image %}
                <img src="{{ post.intro_image.url }}" class="img-thumbnail">
            {% endif %}
            <div class="d-flex">
                <h2 class="">{{ post.title }}</h2>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'blog:edit' post.pk %}" class="float-left">✏</a>
                {% endif %}
            </div>
            <h6>{{ post.created_date }}</h6>
            <strong>{{ post.creator.first_name }} {{ post.creator.last_name }}</strong>
            <p>{{ post.content }}</p>
            {# Like button for the post #}
            <a class="btn btn-outline-dark text-danger like-btn" data-post-id="{{ post.id }}">❤ Like (<span id="like-count-{{ post.id }}">{{ post.likes }}</span> Likes)</a>
        </div>
    {% endfor %}
{% endblock %}
{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('.like-btn').on('click', function (event) {
                var postId = $(event.target)[0].dataset.postId;
                $.ajax({
                    url: '/blog/like-post/' + postId,
                    method: 'POST',
                    success: function (response) {
                        var likes = response.likes;
                        $('#like-count-' + postId).html(likes);
                    }
                });
            });
        });
    </script>
{% endblock %}