{% extends 'blog/base.html' %}
{% block page_header_title %}
    Post: {{ object.title }}
{% endblock %}
{% block content %}
    <div class="col-12">
        {% if object.intro_image %}
            <img src="{{ object.intro_image.url }}" class="img-fluid" alt="{{ object.intro_image.name }}">
        {% endif %}
        <div class="d-flex">
            <h1>{{ object.title }}</h1>
            {% if request.user.is_authenticated %}
                {% if post.creator == request.user %}
                    <a href="{% url 'blog:edit' post.pk %}" class="float-left">✏</a>
                {% endif %}
            {% endif %}
        </div>
        <h3>Created by: {{ object.creator.get_full_name }}</h3>
        <h4>Created on: {{ object.created_date }}</h4>
        <hr>
        <p>{{ object.content }}</p>
    </div>
{% endblock %}