/*
Custom styles for our application
*/
@font-face {
    font-family: "Vazir";
    font-style: normal;
    src: url("../fonts/vazir/Vazir-Regular.woff") format('woff'),
    url("../fonts/vazir/Vazir-Regular.woff2") format('woff2');
}

body {
    font-family: Vazir, serif;
}

.nav-link {
    font-family: Vazir, serif;
}

p {
    font-family: Vazir, serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Vazir, serif;
    direction: rtl;
    text-align: right;
}

.rtl {
    direction: rtl;
}