{% extends 'blog/base.html' %}
{% block page_header_title %}
    Login 🔐
{% endblock %}
{% block content %}
    <div class="col-6">
        <h4>🔐 Please login</h4>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-6">
        <h4>ℹ How to login?</h4>
        <p class="mt-4">
            The login view can now be accessed by a URL. It is time to create a template for
            this view. Since you don't have any templates for this project, you can start by
            creating a base template that can be extended by the login template. Create the
            following files and directories inside the account application directory.
        </p>
    </div>
{% endblock %}